.logo {
    max-width: 8.6rem;
}

.fz-20 {
    font-size: 2rem;
}

.fz-16 {
    font-size: 1.6rem;
}

.fz-14 {
    font-size: 1.4rem;
}

.fz-13 {
    font-size: 1.3rem;
}

.ml-10 {
    margin-left: 6rem;
}
